* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  height: 20vh;
  padding: 2rem;
  align-items: center;
  text-align: center;
  background-color: #272727;
  color: #fff;
  margin-bottom: 2rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-weight: 400;
}

main {
  width: 80%;
  margin: 0 auto;
  line-height: 1;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding: 2rem 0;
  background-color: #272727;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
}

.color-name,
.name {
  color: rgb(61, 61, 233);
}

.booklist-form form label {
  display: block;
  font-size: 1.5rem;
  color: #272727;
  font-weight: 500;
  margin-bottom: 1rem;
  letter-spacing: 4px;
}

.booklist-form form input {
  max-width: 700px;
  width: 100%;
  height: 30px;
  border: 1px solid rgb(194, 164, 164);
  border-radius: 15px;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  letter-spacing: 2px;
  background-color: rgb(229, 248, 248);
  margin-bottom: 2rem;
}

#submit {
  display: block;
  width: 100px;
  background-color: #272727;
  color: #fff;
  font-size: 1rem;
}

.container {
  padding: 1.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #272727;
}

.booklist-header {
  font-size: 1.5rem;
  font-weight: 600;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.3fr;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgb(194, 164, 164);
  margin-bottom: 2rem;
}

.item-container {
  display: grid;
  grid-template-columns: 1fr;
}

.item {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.3fr;
  text-align: center;
  background-color: rgb(229, 248, 248);
  margin-bottom: 1rem;
}

.remove {
  max-width: 50px;
  max-height: 50px;
  padding: 0 1rem;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 6px;
}

.message {
  width: 20%;
  padding-left: 1.5rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.success {
  padding: 0.4rem 0 0.4rem 2rem;
  background-color: rgb(147, 241, 147, 0.6);
  border: 1px solid green;
  border-radius: 15px;
}

.danger {
  padding: 0.4rem 0 0.4rem 2rem;
  background-color: rgba(235, 156, 156, 0.6);
  border: 1px solid red;
  border-radius: 15px;
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    padding: 1rem;
  }
  main {
    width: 95%;
  }
  .remove {
    max-width: 40px;
    max-height: 40px;
    padding: 0;
  }
  .booklist-header {
    font-size: 1rem;
    text-align: center;
  }
  .item {
    font-size: 0.8rem;
  }
  .remove {
    margin-left: 6px;
  }
  .message {
    width: 80%;
    padding-left: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
  }

  .success {
    padding: 0.4rem 0 0.4rem 1rem;
  }

  .danger {
    padding: 0.4rem 0 0.4rem 1rem;
  }
}
